<section class="section-reviews">
  <div class="container" id="Reviews">
    <h2 class="section-reviews-title">
      reviews from our
      <span class="reviews-customer">customers</span>
    </h2>
    <p class="section-reviews-p">
      Words of our customers: impressions and opinions about the quality of our
      services and the freshness of our products.
    </p>

    <ul class="reviews-list">
      <li class="reviews-item reviews-item-first">
        <div class="div-reviews-img">
          <img
            class="reviews-img"
            srcset="
              /img/reviews/reviews01.jpg    1x,
              /img/reviews/reviews01@2x.jpg 2x
            "
            src="/img/reviews/reviews01.jpg"
            alt="john wax"
            width="56"
            height="56"
          />
        </div>

        <div class="div-reviews-text">
          <h3 class="reviews-subtitle">John Wax</h3>
          <p class="reviews-p">
            These vegetables are my secret to delicious and healthy meals. The
            quality is always at the highest level, the aroma and taste are
            enchanting. I advise every fan of real products!
          </p>
        </div>
      </li>

      <li class="reviews-item reviews-item-second">
        <div class="div-reviews-img">
          <img
            class="reviews-img"
            srcset="
              /img/reviews/reviews02.jpg    1x,
              /img/reviews/reviews02@2x.jpg 2x
            "
            src="/img/reviews/reviews01.jpg"
            alt="victoria romashenko"
            width="56"
            height="56"
          />
        </div>

       <div class="div-reviews-text">
          <h3 class="reviews-subtitle">Victoria Romashenko</h3>
          <p class="reviews-p">
            I love how fast and fresh the vegetables are delivered. Salads always
            turn out so appetizing, and soups are real masterpieces. The quality
            is impeccable!
          </p>
       </div>
      </li>

      <li class="reviews-item reviews-item-third">
        <div class="div-reviews-img">
          <img
            class="reviews-img"
            srcset="
              /img/reviews/reviews03.jpg    1x,
              /img/reviews/reviews03@2x.jpg 2x
            "
            src="/img/reviews/reviews01.jpg"
            alt="ihor trachuk"
            width="56"
            height="56"
          />
        </div>

        <div class="div-reviews-text">
          <h3 class="reviews-subtitle">Ihor Trachuk</h3>
          <p class="reviews-p">
            Recently tried my fresh tomatoes and peppers - amazing! The
            authenticity of the taste, as if from the garden directly to my table.
            It is now my main vegetable supplier.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
