<section class="your-order">
    <div class="container">
        <h2 class="title">Fresh <span class="highlight">Harvest</span> Box has got you covered</h2>
        <p class="description">Our boxes are packed with delicious, nutritious vegetables, perfect for anyone looking to
            eat healthier or support local
            farmers. Order your box today and start enjoying the best that nature has to offer!</p>



        <div class="form-container">
            <div class="order-content">
                <p class="form-title">Ordering <span class="accent">from us</span> is quick and easy! Fill out <span
                        class="colored">the form</span> below and we will contact you !</p>

                <form class="form">
                    <div class="input-wrapper">
                        <label for="user-name" class="order-label"></label>

                        <input type="text" class="order-input" name="user-name" id="user-name" placeholder="Full Name"
                            required>
                    </div>



                    <div class="input-wrapper">
                        <label for="user-email" class="order-label"></label>

                        <input type="email" class="order-input" name="user-email" id="user-email" placeholder="Email"
                            required pattern="([A-Za-z0-9_.-]+)@([A-Za-z0-9_.-]+)\.([A-Za-z]{2,8})">
                    </div>

                    <div class="textarea">
                        <label for="user-comment" class="order-label"></label>
                        <textarea name="user-comment" id="user-comment" class="order-textarea"
                            placeholder="Comment"></textarea>
                    </div>

                    <button type="submit" class="submit-btn">Send</button>
                </form>
            </div>
        

        <div class="order-img">
            <div class="order-media">
            <picture class="order-social-picture">
                <source srcset="
                                /img/social_link_box/soc_desktop.jpg    1x,
                                /img/social_link_box/soc_desktop@2x.jpg  2x
                              " media="(min-width: 1280px)" />
                <source srcset="
                                /img/social_link_box/soc_tab.jpg    1x,
                                /img/social_link_box/soc_tab@2x.jpg 2x
                              " media="(min-width: 768px)" />
                <source srcset="
                                /img/social_link_box/soc_mob.jpg    1x,
                                /img/social_link_box/soc_mob@2x.jpg 2x
                              " media="(min-width: 320px)" />
                <img class="order-social-img" src="/img/social_link_box/soc_mob.jpg" alt="makes morning juice" />
            </picture>
        </div>

        <div class="social-link">
            <p class="social-text">Follow us on our social networks:</p>

        <ul class="social-list">
            <li class="social-item">
                <a class="social-link-item" href="https://www.instagram.com/goitclub/" target="_blank">INSTAGRAM</a>
            </li>
            <li class="social-item">
                <a class="social-link-item" href="https://www.facebook.com/goITclub/" target="_blank">FACEBOOK</a>
            </li>
            <li class="social-item">
                <a class="social-link-item" href="https://www.youtube.com/c/GoIT" target="_blank">YOUTUBE</a>
            </li>
        </ul>
        </div>
        </div>
    </div>
    </div>
</section>