.section-reviews {
  padding: 100px 0;
  background-color: #fbfbfb;
}

.section-reviews-title {
  font-weight: 600;
  font-size: 64px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
  max-width: 553px;
  margin-bottom: 24px;
}

.reviews-customer {
  color: #576f35;
}

.section-reviews-p {
  font-size: 16px;
  line-height: 1.25;
  color: #141414;
  max-width: 553px;
  margin-bottom: 52px;
}

.reviews-list {
  display: flex;
  gap: 24px;
  max-width: 1080px;
}

.reviews-item {
  border: 1px solid #d4bfc4;
  border-radius: 24px;
  padding: 20px;
  width: calc((100% - 48px) / 3);
}

.div-reviews-img {
  width: 56px;
  height: 56px;
  margin: 0 auto 24px;
}

.reviews-img {
  border-radius: 50%;
  object-fit: cover;
  /* height: 100%; */
}

.reviews-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-align: center;
  color: #141414;
  margin-bottom: 8px;
}

.reviews-p {
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #858585;
  padding: 0 8px; /* max-width: 288px; */
}
